<p-table (change)="onPageChange($event)" [loading]="isLoading" [value]="data" [rows]="rows"
         [totalRecords]="totalRecords">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.surname }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phone }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="5">
        <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
      </td>
    </tr>
  </ng-template>
</p-table>
